# The directory where versioned files and metadata should be stored.
# This is what will be mapped inside the container
P4ROOT="/opt/perforce/servers/master"
P4PORT=1666
P4USER="admin"
P4PASSWD="ChangeMe123"

# The P4 Local root will be used by the docker compose file to map a directory
# for the container to have persistent data
P4_Local_Root="./root"
External_P4_Port=1666